body {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  margin-top: -23px;
  background-color: #bbbbbb;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
