body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

header {
  margin-top: -23px;
  background-color: #bbbbbb;
  padding: 20px 0;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
  margin-right: 20px;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.serviços {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.serviços li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.serviços li:hover {
  border-color: #c78c19;
}

.serviços li:active {
  border-color: #088c19;
}

.serviços li:hover h2 {
  font-size: 35px;
}

.serviços h2 {
  font-size: 30px;
  font-weight: bold;
}

.descrição {
  font-size: 18px;
}

.preços {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 0;
}

footer {
  margin-bottom: -18px;
  text-align: center;
  background: url("C:/Users/guilh/Documents/Projetos/barbearia-alura/src/Imagens/bg.jpg");
}

.copyright {
  color: white;
  font-size: 15px;
  margin-top: 20px;
  padding-bottom: 45px;
}

@media screen and (max-width: 480px) {
  .container,
  .serviços {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .serviços li {
    display: block;
    margin: 10%;
    width: 80%;
  }

  li img {
    width: 80%;
  }
}
