body {
}

.centralizar {
  text-align: center;
}

.titulo-principal {
  padding-left: 20px;
}

#banner {
  width: 100%;
}

.principal {
  background-color: #cccccc;
  padding: 30px;
  text-align: center;
}
#missao {
  font-size: 20px;
}

h3 {
  text-align: center;
}

ul {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.itens {
  font-style: italic;
}

.beneficios {
  background: #ffffff;
  padding: 20px;
}

.imgbeneficios {
  margin-left: -15%;
  width: 50%;
}
